[run]
branch = True
parallel = True

[report]
exclude_lines = 
  # the original exclude
  pragma: no cover

  # code executed only when tests fail

[paths]
src = 
  ./checker/
  C:\Jenkins\workspace\checker-buildout\*\checker
  /var/lib/jenkins/slave/workspace/checker-buildout/*/checker
  /Users/Shared/Jenkins/Home/workspace/checker-buildout/*/checker
